* {
  font-family: "Helvetica", "Arial", "Georgia", "Tahoma", "Roboto";
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0 5px;
  height: auto;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.nav-items > ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-items > ul > li {
  margin: 20px;
  font-size: 18px;
}

.nav-items > ul > li > a {
  all: unset;
  cursor: pointer;
}

.nav-items > ul > li > a.active {
  color: #259fff;
  font-weight: bold;
}

.cart-logo {
  width: 24px;
  cursor: pointer;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #bdbdbd;
}

.res-container > a {
  all: unset;
}

.res-card {
  width: 220px;
  height: 390px;
  padding: 5px;
  margin: 10px 8px;
  background-color: #f0f0f0;
  border: 1px solid #bdbdbd;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-logo {
  width: 100%;
}

.res-logo-container {
  height: 35%;
  overflow: hidden;
}

.util-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 5px;
}

.util-container > .btn-top-filter {
  cursor: pointer;
}

.search > .search-input {
  width: 250px;
  padding: 5px;
  margin-right: 20px;
}

.search > .btn-res-search {
  height: 100%;
  cursor: pointer;
}

input.search-input::placeholder {
  font-style: italic;
}

.shimmer-container {
  border: 1px solid #bdbdbd;
  display: flex;
  flex-wrap: wrap;
}

.shimmer-util-container {
  display: flex;
  margin: 20px 5px;
  justify-content: space-between;
}

.shimmer-card {
  width: 220px;
  height: 390px;
  padding: 5px;
  margin: 10px 8px;
  background-image: linear-gradient(to right, #f0f0f0, #d7d7d7);
  border: 1px solid #bdbdbd;
}

.btn-shimmer {
  background-image: linear-gradient(to right, #f0f0f0, #d7d7d7);
  width: 150px;
  border: 1px solid #bdbdbd;
  height: 25px;
}

.shimmer-search {
  background-image: linear-gradient(to right, #f0f0f0, #d7d7d7);
  width: 300px;
  border: 1px solid #bdbdbd;
  height: 25px;
}

.btn-login {
  font-size: 16px;
  cursor: pointer;
}

.res-menu-container {
  border: 1px solid #bdbdbd;
  margin: 10px 180px;
  padding: 15px 25px;
}

.res-header {
  display: flex;
  justify-content: space-between;
}

.res-menu-item {
  border-bottom: 1px solid #bdbdbd;
  padding: 5px 10px;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
}

.user-card {
  border: 1px solid #bdbdbd;
  padding: 20px;
  margin-bottom: 15px;
}
